<!DOCTYPE html>
<html lang="ja" ng-app>
<head>
    <meta charset="UTF-8">
    <title>Angularの練習</title>
    <script src="https://code.angularjs.org/angular-1.0.1.min.js"></script>
    <script src="myscript3.js"></script>
</head>
<body>
    <h1>AngularJSの練習</h1>
    <div ng-controller="mainCtrl">
    <p><input type="text" ng-model="query.name"></p>
        <ul>
          /* <li ng-repeat="user in users|limitTo:5|orderBy : 'score'"> */
              <li ng-repeat="user in users|filter:query">
                       
              {{user.name}} {{user.score}}
            </li>
        </ul>
    </div>
</body>
</html>