/*
変形
safariで実現できない、以下のように書く：
-webkit-transform
*/


 div{

  width: 100px;
  height: 100px;
  margin-bottom: 20px;
  position: absolute;
  top: 100px;
  left: 100px;
  }
  
  #box1{
  background: skyblue;
  opacity: .5;
  }
  
  #box2{
  background: orange;
  opacity: .5;
  /*transform: translate(20px, 40px);*/
 /* transform: translateX(20px);*/
  /*transform:scale(0.5, 1.5); *//*X,Y方向サイズ*/
  /*transform:skew(10deg, 20deg);*/  /*2つの角度によってX軸とY軸に沿った傾斜変形*/
  transform:rotate(30deg);  /*時計まわり*/
  transform-origin: 0 0; /*左上*/
  
  }
  